.login{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.lInput{
    height: 50px;
    width: 300px;
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    outline: none;
}
.lInput[type="text"]:focus,
.lInput[type="password"]:focus{
    border: 2px solid#003580b3;
}
.lButton{
    padding: 10px 15px;
    background-color: #0071c2;
    color: white;
    border: none;
    border-radius: 5px;
}
.heading{
    font-weight: 700;
    font-size: larger;
    color: #003580;
    margin-left: 4px;
}
.errorMsg{
    color: red;
    text-align: center;
}